@import 'base.css';

section {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
}

nav.mobile {
  display: none;
}

.noscript {
  display: flex;
  justify-content: center;
  color: grey;
}
/* Who Am I */

.whoami {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.whoami h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  color: #1f1f1f;
  font-weight: bold;
}

body.dark-theme .whoami h2 {
  color: #f6f5f5;
}
.whoami_short_about {
  margin-top: 40px;
}
.whoami p {
  margin-bottom: 0;
  color: #6b7280;
  font-weight: normal;
}

body.dark-theme .whoami p {
  color: #e0e0e0;
}

.whoami hr {
  width: 650px;
  height: 0;
  color: #1f1f1f;
  border: none;
  border-top: 2px solid;
  margin-top: 40px;
}

body.dark-theme .whoami hr {
  color: #f2f2f2;
}

.whoami .iam {
  border-radius: 2%;
  width: 450px;
  height: 450px;
}

.fa-location-dot {
  color: #1f1f1f;
  margin-right: 10px;
  margin-top: 10px;
}

body.dark-theme .fa-location-dot {
  color: #f2f2f2;
}

.iam.mobile {
  display: none;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about h2 {
  color: #1f1f1f;
  font-size: 48px;

  margin-top: 0;
  margin-bottom: 0;
}

body.dark-theme .about h2 {
  color: #f2f2f2;
}

.about_div {
  margin-top: 50px;
}

.about_div.university {
  background: url('../../assets/img/university.jpg') fixed center;
  background-size: cover;
}

.about_div.learn {
  background: url('../../assets/img/matrix.jpeg') fixed center;
  background-size: cover;
}

.about_div.foss {
  /* background: url('../../assets/img/lyceum.png') fixed center; */
  background: black;
}

body.dark-theme .about_div {
  background: transparent;
}

.about p {
  margin-top: 0;
  margin-bottom: 0;

  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
  width: 1020px;
  font-size: 90px;
  font-weight: 900;
}

body.dark-theme .about p {
  color: #f2f2f2;
  background: transparent;
  mix-blend-mode: normal;
}

.toggle_about {
  height: 35px;
  width: 414px;

  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.toggle_about_item {
  width: 83px;
  height: 10px;

  border-radius: 100px;
  transition: 0.2s;
}

.toggle_about_item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body.dark-theme .toggle_about_item:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.toggle_about_item {
  background-color: #cfc8be;
}

.toggle_about_item.active {
  background-color: #131313;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects hgroup h2 {
  color: #1f1f1f;
  font-size: 48px;

  margin-top: 0;
  margin-bottom: 0;
}

body.dark-theme .projects hgroup h2 {
  color: #e0e0e0;
}

.projects hgroup h3 {
  color: #6b7280;
  width: 760px;
  font-size: 18px;
  font-weight: normal;
}

body.dark-theme .projects hgroup h3 {
  color: #e0e0e0;
}

.projects_container {
  width: 1000px;

  margin-top: 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px 40px;
  grid-auto-flow: row;
  grid-template-areas:
    'webeye webeye'
    'isabsent wgbot'
    'valentine wgbot';
}

.project {
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  background-color: #333333;

  text-align: left;

  padding: 30px 15px;

  display: block;
}

.project h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
}

.project p {
  margin-top: 0;
  margin-bottom: 0;
  color: #f2f2f2;
  font-weight: normal;
  width: 70%;
  font-size: 20px;
}

.valentine {
  grid-area: valentine;

  background: url('../../assets/img/turquoise_bg.png');
}

.wgbot {
  grid-area: wgbot;

  background: linear-gradient(
    117.48deg,
    #eb5757 -12.38%,
    #e33232 50.62%,
    #ca1d1d 111.06%
  );
}

.isabsent {
  grid-area: isabsent;

  background: url('../../assets/img/orange_bg.png');
}

.webeye {
  height: 270px;

  grid-area: webeye;

  background: url('../../assets/img/blue_bg.png');
}

.projects .blurry-text {
  color: transparent;
  transition: 0.2s;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.project:hover .blurry-text {
  color: #f2f2f2;
  text-shadow: 0 0 0;
}

/* Achievements */

.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.achievements hgroup h2 {
  color: #1f1f1f;
  font-size: 48px;

  margin-top: 0;
  margin-bottom: 0;
}

.achievements hgroup h3 {
  color: #6b7280;
  width: 760px;
  font-size: 18px;
  font-weight: normal;
}

body.dark-theme .achievements hgroup h2 {
  color: white;
}

body.dark-theme .achievements hgroup h3 {
  color: white;
}

.achievements_list {
  list-style: none;
  width: 1070px;
  font-size: 28px;
  font-weight: normal;
  text-align: justify;
  font-style: normal;
}

.achievements_list li {
  color: black;
  margin-top: 50px;
}

li.achievement a {
  font-size: 20px;
  color: gray;
}

body.dark-theme .achievements_list li {
  color: white;
}

/* Some photos */

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photos hgroup h2 {
  color: #1f1f1f;
  font-size: 48px;

  margin-top: 0;
  margin-bottom: 0;
}

body.dark-theme .photos hgroup h2 {
  color: white;
}

.photos_container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.photo {
  border-radius: 10px;
  width: 385px;
  height: 240px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo.robocup {
  background-image: url('../../assets/img/RoboCup.png');
}

.photo.worldskills {
  background-image: url('../../assets/img/WorldSkills.png');
}

.photo.pom {
  background-image: url('../../assets/img/practice_on_mockups.png');
}

.photo.innoopen {
  background-image: url('../../assets/img/innoopen.jpg');
}
.photo.nto {
  background-image: url('../../assets/img/nto.png');
}
.photo.ctflyceum {
  background-image: url('../../assets/img/ctflyceum.jpg');
}

.photo.drivehack {
  background-image: url('../../assets/img/drivehack.jpg');
}
.photo.itgen {
  background-image: url('../../assets/img/itgen.jpg');
}
.photo.ideathon {
  background-image: url('../../assets/img/ideathon.jpg');
}

.photo p {
  display: none;
  margin-top: auto;
  font-size: 17px;
  color: white;
  font-weight: 600;
}

@media (max-width: 1200px) {
  body {
    width: 70%;
  }

  header {
    margin-top: 20px;
    flex-wrap: wrap;
  }

  header nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .whoami hr {
    width: 100%;
  }

  .whoami .iam {
    width: 40%;
    height: auto;
    margin-top: 20px;
  }

  .whoami .left {
    width: 50%;
  }

  .whoami h2 {
    font-size: 40px;
  }

  .social {
    width: 100%;
    max-width: 320px;
    margin-top: 20px;
  }

  .about p {
    width: 100%;
    font-size: 50px;
  }

  .toggle_about {
    width: 80%;
    max-width: 414px;
  }

  .achievements_list {
    padding: 0;
    font-size: 20px;
    margin: 0;
    width: 90%;
  }

  .photos_container {
    flex-direction: column;
  }

  .photo {
    width: 80%;
    max-width: 420px;
    margin-bottom: 30px;
  }

  .photo p {
    display: block;
  }

  .achievements hgroup h3 {
    width: unset;
  }

  .projects_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .project {
    width: 70%;
    background-size: cover;
  }

  .projects .blurry-text {
    text-shadow: 0 0 0;
    color: #f2f2f2;
  }

  .webeye,
  .isabsent,
  .wgbot,
  .valentine {
    height: 200px;
  }

  .project h4 {
    font-size: 30px;
  }

  .about {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  header {
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: unset;
  }

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .navbar {
    width: 100%;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  body.dark-theme .navbar .nav-container a {
    color: #f2f2f2;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 48%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 48%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

  body.dark-theme .nav-container .hamburger-lines .line {
    background: #f2f2f2;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 120px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -37vw;
    padding-left: 12.5vw;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }

  body.dark-theme .navbar .menu-items {
    background-color: #333333;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }

  .nav-container input[type='checkbox']:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type='checkbox']:checked ~ .logo {
    display: none;
  }

  html {
    background-color: white;
  }

  body {
    width: 100%;
  }

  .about p {
    font-size: 30px;
  }

  .toggle_about {
    width: 35%;
  }

  .toggle_about_item {
    width: 20%;
  }

  .about_div {
    width: 80%;
  }

  .whoami .left {
    width: 70%;
  }
  section {
    margin-top: 30px;
  }

  .whoami {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .whoami .iam {
    display: none;
  }
}
